
<div id="myCarousel">
  <ngb-carousel *ngIf="myNews" (slide)="onSlide($event)">
    <ng-template *ngFor="let news of myNews | slice:0:3; let i = index" ngbSlide [id]="'slideId_' + i">
      <img [src]="news.urlToImage" id="myImg" alt="Random slide">
    </ng-template>
  </ngb-carousel>
  <div class="newsArticles">
    <div class="card" *ngFor="let news of myNews | slice:0:3; let i = index">
      <img class="card-img-top" [src]="news.urlToImage" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{news.title}}</h5>
        <p class="card-text">{{news.description | slice:0:40}} ...</p>
        <a routerLink="/latest-news/{{news.title}}" class="btn btn-primary">Read More</a>
    </div>
  </div>
  <!-- <p style="text-align: center;">{{this.imgIndex}}</p> -->
</div>