<h1 style = "text-align: center;">Weather Report</h1>

<div class="row">
  <div class="col-md-3">
    <p>{{data.weather[0].description | titlecase}}</p>
    <p>Feels like: {{data.main.feels_like}}&deg;F</p>
  </div>
  <div class="col-md-3">
    <img src="{{'http://openweathermap.org/img/wn/' + data.weather[0].icon + '@2x.png'}}">
  </div>
  <div class="col-md-3">
    <p>Temperature: {{data.main.temp}}&deg;F</p>
    <p>High: {{data.main.temp_min}}&deg;F</p>
    <p>Low: {{data.main.temp_max}}&deg;F</p>
    <p>Pressure: {{data.main.pressure}}hPa</p>
    <p>Humidity: {{data.main.humidity}}%</p>
  </div>
  <div class="col-md-3">
    <p>{{data.name + ", " + data.sys.country}}</p>
    <!--
    <p *ngIf="data.timezone >= 0; else utc_pos">UTC +{{parseInt((data.timezone/60)/60)}}:{{parseInt((data.timezone/60)%60)}}</p>
    <p *ngIf="data.timezone < 0; else utc_pos">UTC -{{-1*parseInt((data.timezone/60)/60)}}:{{-1*parseInt((data.timezone/60)%60)}}</p>
    -->
  </div>
</div>