
<div>
  <header>
    <div class="container-fluid">
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <img class="navbar-brand" src="https://www.clker.com/cliparts/j/f/8/S/W/3/cloud-hi.png" height = "50"/>
        </li>
        <li class="nav-item"routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true }">
          <a class="nav-link text-dark" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/sports">Sports</a>

        <li class="nav-item"routerLinkActive = "active">
          <a class="nav-link text-dark" routerLink="about">About us</a>
        </li>

        <li class="nav-item"routerLinkActive = "active">
          <a class="nav-link text-dark" routerLink="contact">Contact Us</a>
        </li>

        <li class="nav-item"routerLinkActive = "active">
          <a class="nav-link text-dark" routerLink="weather">Weather Report</a>
        </li>
      </ul>
    </div>
  </header>
</div>
  